* {
	font-family: "Playfair Display", serif;
	box-sizing: border-box;
}

html {
	height: 0;
	background: url(img/beer-s-dew-1189815.jpg) no-repeat center center
		fixed;
	background-size: cover;
	z-index: -999;
}
body {
	padding: 0;
	position: relative;
	line-height: normal;
}

.ribbon-wrapper {
	background-color: #2199e8;
	position: relative;
	z-index: 1;
	padding: 5px;
	margin: 0;
}

h1.post-title {
	visibility: hidden;
	width: 0;
	height: 0;
}

.ribbon {
	width: 80%;
	position: relative;
	background: #f35b5b;
	color: #fff;
	text-align: center;
	padding: 1em 2em;
	margin: 2em auto 3em;
	font-family: "Bangers", cursive;
}

.ribbon:after,
.ribbon:before {
	content: "";
	position: absolute;
	display: block;
	bottom: -1em;
	border: 1.5em solid #d74545;
	z-index: -1;
}

.ribbon:before {
	left: -2em;
	border-right-width: 1.5em;
	border-left-color: transparent;
}

.ribbon:after {
	right: -2em;
	border-left-width: 1.5em;
	border-right-color: transparent;
}

.ribbon .ribbon-inner:after,
.ribbon .ribbon-inner:before {
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: #b23232 transparent transparent;
	bottom: -1em;
}

.ribbon .ribbon-inner:before {
	left: 0;
	border-width: 1em 0 0 1em;
}

.ribbon .ribbon-inner:after {
	right: 0;
	border-width: 1em 1em 0 0;
}

.lead {
	color: #2199e8;
}

.callout {
  margin: auto;
}

section {
	background-color: #2199e8;
	margin: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 2rem;
}

.row {
	margin: auto;
}

.medium-6 {
	color: white;
}

h2 {
	text-align: center;
	font-family: "Bangers";
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

#map {
	height: 400px;
	width: 100%;
	border: 1px solid black;
	color: black;
}

#mbutton {
	color: red;
}

.row.column {
	color: white;
	margin: auto;
}

.button {
	border-radius: 5rem;
}

#muralBtn {
	background-color: #444;
}
#muralpc {
	width: 100%;
	display: none;
}

#txtt {
	font-family: "Bangers";
}
