* {
  font-family: "Playfair Display", serif;
  box-sizing: border-box;
}

html {
  height: 0;
  background: url(img/beer-s-dew-1189815.jpg) no-repeat center center fixed;
  background-size: cover;
  z-index: -999;
}
body {
  padding: 0;
  position: relative;
  line-height: normal;
}

p {
  color: #444;
}

.callout {
  margin: auto;
}

section {
  background-color: #ffbf00;
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2rem;
}

.row {
  margin: auto;
}

.medium-6 {
  color: white;
}

h1 {
  text-align: center;
  font-size: 100px;
  font-family: "Bangers";
  color: white;
  text-shadow: 4px 4px 8px #444;
}

.lead {
  color: white;
  font-weight: bold;
  font-size: 200%;
}

.button {
  border-radius: 5rem;
}

#clickart {
  background-color: #444;
}

#clickbars {
  color: #444;
  border-color: #444;
  background-color: white;
}

h2 {
  text-align: center;
  font-family: "Bangers";
  color: white;
  text-shadow: 2px 2px 4px #444;
}

#weather,
#temp,
#conditions {
  color: #444;
}

#map {
  height: 400px;
  width: 100%;
  border: 1px solid black;
  color: black;
}

#mbutton {
  color: red;
}

.row.column {
  color: white;
  margin: auto;
}

#muralpc {
  width: 100%;
  display: none;
}

#txtt {
  font-family: "Bangers";
}
